<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Potencial Minero</Name><AddInID>{a32af587-f968-409a-b9fa-ef2f731f1ac4}</AddInID><Description>Conjunto de herramientas personalizadas que permiten determinar el potencial minero</Description><Version>0.2</Version><Image>Images\ingemmet_logo.png</Image><Author>D. Aguado - R. Yali</Author><Company>INGEMMET</Company><Date>09/02/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addinProject_addin.py" namespace="addinProject_addin"><ArcMap>
    <Commands>
        <Button caption="Iniciar sesion" category="Potencial Minero" class="iniciarSesion" id="addinProject_addin.login" image="Images\student.png" message="Inicia sesion para activar las herramientas a utilizar" tip="Login"><Help heading="Iniciar sesion">Iniciar sesion para activar las herramientas necesarias</Help></Button>
        <Button caption="Crear directorio de trabajo" category="Potencial Minero" class="crearDirectorioTrabajo" id="addinProject_addin.workspace" image="Images\crearTabla.png" message="Permite crear la estructura estandar para el procesamiento de informacion" tip="Crear directorios"><Help heading="Crear directorios">Permite crear la estructura estandar para el procesamiento de informacion</Help></Button>
        <Button caption="Unidades Geologicas" category="Potencial Minero" class="pmmUnidadesGeologicas" id="addinProject_addin.pmmUnidadesGeologicas" image="Images\carga.png" message="Cargar variable de unidades geologicas" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de unidades geologicas</Help></Button>
        <Button caption="Fallas Geologicas" category="Potencial Minero" class="pmmFallasGeologicas" id="addinProject_addin.pmmFallasGeologicas" image="Images\carga.png" message="Cargar variable de fallas geologicas" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de fallas geologicas</Help></Button>
        <Button caption="Depositos Minerales" category="Potencial Minero" class="pmmDepositosMinerales" id="addinProject_addin.pmmDepositosMinerales" image="Images\carga.png" message="Cargar variable de depositos minerales" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de depositos minerales</Help></Button>
        <Button caption="Geoquimica" category="Potencial Minero" class="pmmGeoquimica" id="addinProject_addin.pmmGeoquimica" image="Images\carga.png" message="Cargar variable geoquimica" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable geoquimica</Help></Button>
        <Button caption="Sensores Remotos" category="Potencial Minero" class="pmmSensoresRemotos" id="addinProject_addin.pmmSensoresRemotos" image="Images\carga.png" message="Cargar variable sensores remotos" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable sensores remotos</Help></Button>
        <Button caption="Litologia" category="Potencial Minero" class="rmiLitologia" id="addinProject_addin.rmiLitologia" image="Images\carga.png" message="Cargar variable de litologia" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de litologia</Help></Button>
        <Button caption="Sustancias" category="Potencial Minero" class="rmiSustancias" id="addinProject_addin.rmiSustancias" image="Images\carga.png" message="Cargar variable de sustancias" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de sustancias</Help></Button>
        <Button caption="Concesiones" category="Potencial Minero" class="rmiConcesiones" id="addinProject_addin.rmiConcesiones" image="Images\carga.png" message="Cargar variable de concesiones" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de concesiones</Help></Button>
        <Button caption="Sensores Remotos" category="Potencial Minero" class="rmiSensoresRemotos" id="addinProject_addin.rmiSensoresRemotos" image="Images\carga.png" message="Cargar variable sensores remotos" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable sensores remotos</Help></Button>
        <Button caption="Accesos" category="Potencial Minero" class="rmiAccesos" id="addinProject_addin.rmiAccesos" image="Images\carga.png" message="Cargar variable sensores remotos" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable sensores remotos</Help></Button>
        <Button caption="Potencial Minero Metalico" category="Potencial Minero" class="PotencialMineroMetalico" id="addinProject_addin.PotencialMineroMetalico" image="" message="Herramienta que permite iniciar el proceso para la determinaci&#243;n del potencial minero metalico" tip="Determinar potencial minero metalico"><Help heading="Determinar potencial minero metalico">Herramienta que permite iniciar el proceso para la determinaci&#243;n del potencial minero metalico</Help></Button>
        <Button caption="Potencial Minero No Metalico" category="Potencial Minero" class="PotencialMineroNoMetalico" id="addinProject_addin.PotencialMineroNoMetalico" image="" message="Herramienta que permite iniciar el proceso para la determinaci&#243;n del potencial minero no metalico" tip="Determinar potencial minero no metalico"><Help heading="Determinar potencial minero no metalico">Herramienta que permite iniciar el proceso para la determinaci&#243;n del potencial minero no metalico</Help></Button>
        <Button caption="URL - INGEMMET" category="Potencial Minero" class="abrirUrl" id="addinProject_addin.url" image="Images\loupe.png" message="Redirecciona a http://www.ingemmet.gob.pe/" tip="URL - INGEMMET"><Help heading="Ir a">Redirecciona a http://www.ingemmet.gob.pe/</Help></Button>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Potencial Minero" class="extensionIniciarSesion" description="Extension que permite el inicio de sesion para habilitar herramientas." id="addinProject_addin.wxpyextension" name="Potencial Minero Ext" productName="Potencial Minero Ext" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="Potencial Minero" category="Potencial Minero" id="addinProject_addin.toolbar" showInitially="true"><Items><Button refID="addinProject_addin.login" /><Button refID="addinProject_addin.workspace" /><Menu refID="addinProject_addin.cargarInformacion" /><Menu refID="addinProject_addin.potencialMinero" /><Button refID="addinProject_addin.url" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Recursos Metalicos" category="Potencial Minero" id="addinProject_addin.recursosMinerales" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="addinProject_addin.pmmUnidadesGeologicas" /><Button refID="addinProject_addin.pmmFallasGeologicas" /><Button refID="addinProject_addin.pmmDepositosMinerales" /><Button refID="addinProject_addin.pmmGeoquimica" /><Button refID="addinProject_addin.pmmSensoresRemotos" /></Items></Menu>
        <Menu caption="Recursos No Metalicos" category="Potencial Minero" id="addinProject_addin.recursosNoMinerales" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="addinProject_addin.rmiLitologia" /><Button refID="addinProject_addin.rmiSustancias" /><Button refID="addinProject_addin.rmiConcesiones" /><Button refID="addinProject_addin.rmiSensoresremotos" /><Button refID="addinProject_addin.rmiAccesos" /></Items></Menu>
        <Menu caption="Cargar Informacion" category="Potencial Minero" id="addinProject_addin.cargarInformacion" isRootMenu="false" isShortcutMenu="false" separator="true"><Items><Menu refID="addinProject_addin.recursosMinerales" /><Menu refID="addinProject_addin.recursosNoMinerales" /></Items></Menu>
        <Menu caption="Determinar Potencial Minero" category="Potencial Minero" id="addinProject_addin.potencialMinero" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="addinProject_addin.PotencialMineroMetalico" /><Button refID="addinProject_addin.PotencialMineroNoMetalico" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>