<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Potencial Minero</Name><AddInID>{81d9a5da-eed5-4f76-a369-75f989bfa366}</AddInID><Description>Conjunto de herramientas personalizadas que permiten determinar el potencial minero</Description><Version>0.2</Version><Image>Images\ingemmet_logo.png</Image><Author>Roy Yali S. &amp; Daniel Aguado H.</Author><Company>INGEMMET</Company><Date>07/04/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addin_addin.py" namespace="addin_addin"><ArcMap>
    <Commands>
        <Button caption="Iniciar sesion" category="Potencial Minero" class="iniciarSesion" id="addin_addin.login" image="Images\student.png" message="Inicia sesion para activar las herramientas a utilizar" tip="Login"><Help heading="Iniciar sesion">Iniciar sesion para activar las herramientas necesarias</Help></Button>
        <Button caption="Crear directorio de trabajo" category="Potencial Minero" class="crearDirectorioTrabajo" id="addin_addin.workspace" image="Images\crearTabla.png" message="Permite crear la estructura estandar para el procesamiento de informacion" tip="Crear directorios"><Help heading="Crear directorios">Permite crear la estructura estandar para el procesamiento de informacion</Help></Button>
        <Button caption="Unidades Geologicas" category="Potencial Minero" class="PMM_V1_unidadesGeologicas" id="addin_addin.PMM_V1_unidadesGeologicas" image="Images\carga.png" message="Cargar variable de unidades geologicas" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de unidades geologicas</Help></Button>
        <Button caption="Fallas Geologicas" category="Potencial Minero" class="PMM_V3_fallasGeologicas" id="addin_addin.PMM_V3_fallasGeologicas" image="Images\carga.png" message="Cargar variable de fallas geologicas" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de fallas geologicas</Help></Button>
        <Button caption="Depositos Minerales" category="Potencial Minero" class="PMM_V4_depositosMinerales" id="addin_addin.PMM_V4_depositosMinerales" image="Images\carga.png" message="Cargar variable de depositos minerales" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de depositos minerales</Help></Button>
        <Button caption="Geoquimica" category="Potencial Minero" class="PMM_V5_geoquimica" id="addin_addin.PMM_V5_geoquimica" image="Images\carga.png" message="Cargar variable geoquimica" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable geoquimica</Help></Button>
        <Button caption="Sensores Remotos" category="Potencial Minero" class="PMM_V6_SensoresRemotos" id="addin_addin.PMM_V6_SensoresRemotos" image="Images\carga.png" message="Cargar variable sensores remotos" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable sensores remotos</Help></Button>
        <Button caption="Litologia" category="Potencial Minero" class="RMI_V1_litologia" id="addin_addin.RMI_V1_litologia" image="Images\carga.png" message="Cargar variable de litologia" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de litologia</Help></Button>
        <Button caption="Sustancias" category="Potencial Minero" class="RMI_V2_sustancias" id="addin_addin.RMI_V2_sustancias" image="Images\carga.png" message="Cargar variable de sustancias" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de sustancias</Help></Button>
        <Button caption="Sensores Remotos" category="Potencial Minero" class="RMI_V4_SensoresRemotos" id="addin_addin.RMI_V4_SensoresRemotos" image="Images\carga.png" message="Cargar variable sensores remotos" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable sensores remotos</Help></Button>
        <Button caption="Accesos" category="Potencial Minero" class="RMI_V5_accesos" id="addin_addin.RMI_V5_accesos" image="Images\carga.png" message="Cargar variable sensores accesos" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable sensores accesos</Help></Button>
        <Button caption="Potencial Minero Metalico" category="Potencial Minero" class="potencialMineroMetalico" id="addin_addin.potencialMineroMetalico" image="" message="Herramienta que permite iniciar el proceso para determinar el potencial minero met&#225;lico" tip="Determinar potencial minero metalico"><Help heading="Determinar potencial minero metalico">Herramienta que permite iniciar el proceso para determinar el potencial minero met&#225;lico</Help></Button>
        <Button caption="Potencial Minero No Metalico" category="Potencial Minero" class="potencialMineroNoMetalico" id="addin_addin.potencialMineroNoMetalico" image="" message="Herramienta que permite iniciar el proceso para determinar el potencial minero no met&#225;lico" tip="Determinar potencial minero no metalico"><Help heading="Determinar potencial minero no metalico">Herramienta que permite iniciar el proceso para determinar el potencial minero no met&#225;lico</Help></Button>
        <Button caption="URL - INGEMMET" category="Potencial Minero" class="abrirUrl" id="addin_addin.url" image="Images\loupe.png" message="Redirecciona a http://www.ingemmet.gob.pe/" tip="URL - INGEMMET"><Help heading="Ir a">Redirecciona a http://www.ingemmet.gob.pe/</Help></Button>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Potencial Minero" class="extensionIniciarSesion" description="Extension que permite el inicio de sesion para habilitar herramientas." id="addin_addin.wxpyextension" name="Potencial Minero Ext" productName="Potencial Minero Ext" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="Potencial Minero" category="Potencial Minero" id="addin_addin.toolbar" showInitially="true"><Items><Button refID="addin_addin.login" /><Button refID="addin_addin.workspace" /><Menu refID="addin_addin.cargarInformacion" /><Menu refID="addin_addin.determinarPotencial" /><Button refID="addin_addin.url" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Recursos Metalicos" category="Potencial Minero" id="addin_addin.recursosMinerales" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="addin_addin.PMM_V1_unidadesGeologicas" /><Button refID="addin_addin.PMM_V3_fallasGeologicas" /><Button refID="addin_addin.PMM_V4_depositosMinerales" /><Button refID="addin_addin.PMM_V5_geoquimica" /><Button refID="addin_addin.PMM_V6_SensoresRemotos" /></Items></Menu>
        <Menu caption="Recursos No Metalicos" category="Potencial Minero" id="addin_addin.recursosNoMinerales" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="addin_addin.RMI_V1_litologia" /><Button refID="addin_addin.RMI_V2_sustancias" /><Button refID="addin_addin.RMI_V4_SensoresRemotos" /><Button refID="addin_addin.RMI_V5_accesos" /></Items></Menu>
        <Menu caption="Cargar Informacion" category="Potencial Minero" id="addin_addin.cargarInformacion" isRootMenu="false" isShortcutMenu="false" separator="true"><Items><Menu refID="addin_addin.recursosMinerales" /><Menu refID="addin_addin.recursosNoMinerales" /></Items></Menu>
        <Menu caption="Determinar Potencial" category="Potencial Minero" id="addin_addin.determinarPotencial" isRootMenu="false" isShortcutMenu="false" separator="true"><Items><Button refID="addin_addin.potencialMineroMetalico" /><Button refID="addin_addin.potencialMineroNoMetalico" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>