<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Potencial Minero</Name><AddInID>{a32af587-f968-409a-b9fa-ef2f731f1ac4}</AddInID><Description>Conjunto de herramientas personalizadas que permiten determinar el potencial minero</Description><Version>0.2</Version><Image>Images\ingemmet_logo.png</Image><Author>D. Aguado - R. Yali</Author><Company>INGEMMET</Company><Date>06/28/2017</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addinProject_addin.py" namespace="addinProject_addin"><ArcMap>
    <Commands>
        <Button caption="Iniciar sesion" category="Potencial Minero" class="iniciarSesion" id="addinProject_addin.login" image="Images\student.png" message="Inicia sesion para activar las herramientas a utilizar" tip="Login"><Help heading="Iniciar sesion">Iniciar sesion para activar las herramientas necesarias</Help></Button>
        <Button caption="Crear directorio de trabajo" category="Potencial Minero" class="crearDirectorioTrabajo" id="addinProject_addin.workspace" image="Images\crearTabla.png" message="Permite crear la estructura estandar para el procesamiento de informacion" tip="Crear directorios"><Help heading="Crear directorios">Permite crear la estructura estandar para el procesamiento de informacion</Help></Button>
        <Button caption="Unidades Geologicas" category="Potencial Minero" class="V1_unidadesGeologicas" id="addinProject_addin.unidadesGeologicas" image="Images\carga.png" message="Cargar variable de unidades geologicas" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de unidades geologicas</Help></Button>
        <Button caption="Fallas Geologicas" category="Potencial Minero" class="V3_fallasGeologicas" id="addinProject_addin.fallasGeologicas" image="Images\carga.png" message="Cargar variable de fallas geologicas" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de fallas geologicas</Help></Button>
        <Button caption="Depositos Minerales" category="Potencial Minero" class="V4_depositosMinerales" id="addinProject_addin.depositosMinerales" image="Images\carga.png" message="Cargar variable de depositos minerales" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable de depositos minerales</Help></Button>
        <Button caption="Geoquimica" category="Potencial Minero" class="V5_geoquimica" id="addinProject_addin.geoquimica" image="Images\carga.png" message="Cargar variable geoquimica" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable geoquimica</Help></Button>
        <Button caption="Sesores Remotos" category="Potencial Minero" class="V6_SesoresRemotos" id="addinProject_addin.sesoresRemotos" image="Images\carga.png" message="Cargar variable sensores remotos" tip="Cargar Informacion"><Help heading="Cargar Informacion">Cargar variable sensores remotos</Help></Button>
        <Button caption="Determinar Potencial Minero" category="Potencial Minero" class="potencialMinero" id="addinProject_addin.potencialMinero" image="" message="Herramienta que permite iniciar el proceso para la determinaci&#243;n del potencial minero" tip="Determinar potencial minero"><Help heading="Determinar potencial minero">Herramienta que permite iniciar el proceso para la determinaci&#243;n del potencial minero</Help></Button><Button caption="URL - INGEMMET" category="Potencial Minero" class="abrirUrl" id="addinProject_addin.url" image="Images\loupe.png" message="Redirecciona a http://www.ingemmet.gob.pe/" tip="URL - INGEMMET"><Help heading="Ir a">Redirecciona a http://www.ingemmet.gob.pe/</Help></Button>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Potencial Minero" class="extensionIniciarSesion" description="Extension que permite el inicio de sesion para habilitar herramientas." id="addinProject_addin.wxpyextension" name="Potencial Minero Ext" productName="Potencial Minero Ext" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="Potencial Minero" category="Potencial Minero" id="addinProject_addin.toolbar" showInitially="true"><Items><Button refID="addinProject_addin.login" /><Button refID="addinProject_addin.workspace" /><Menu refID="addinProject_addin.cargarInformacion" /><Button refID="addinProject_addin.potencialMinero" /><Button refID="addinProject_addin.url" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Cargar Informacion" category="Potencial Minero" id="addinProject_addin.cargarInformacion" isRootMenu="false" isShortcutMenu="false" separator="true"><Items><Button refID="addinProject_addin.unidadesGeologicas" /><Button refID="addinProject_addin.fallasGeologicas" /><Button refID="addinProject_addin.depositosMinerales" /><Button refID="addinProject_addin.geoquimica" /><Button refID="addinProject_addin.sesoresRemotos" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>